* {
  box-sizing: border-box;
}
#root {
  width: 100%;
  max-width: 100%;
  height: 100%;
  background-color: #4f76da;
  padding: 40px 100px 0px 100px;
  box-sizing: border-box;
  overflow-y: auto;
}

pre {
  white-space: pre-wrap; /* 줄바꿈 허용 */
  word-wrap: break-word; /* 긴 단어 강제 줄바꿈 */
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  height: 100%;
  width: 100%;
}

a {
  text-decoration-line: none;
}

.html {
  scroll-behavior: smooth;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 48px;
  font-family: "ClimateCrisisKorean";
  font-weight: 900;
  color: white;
}

.header-right-handle-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-addicon {
  width: 48px;
  height: 48px;
  margin-right: 6px;
}
.header-searchicon {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}
.header-loginbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 44px;
  border-radius: 15px;
  background-color: white;
  color: black;
  font-size: 15px;
}
.header-wrapper-for-line {
  width: 100%;
  justify-content: center;
}
.header-line {
  width: 100%;
  height: 2px;
  background-color: white;
  margin: 30px 0px;
}
.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.sort-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;
}
.sort-icon {
  width: 40px;
  height: 40px;
}
.sort-classify {
  font-size: 20px;
  color: white;
}
.main-content-wrapper-foralign {
  display: flex;
  justify-content: center;
}

.content-table-wrapper {
  width: calc(100% - 50px);
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4개씩 한 줄 */
  row-gap: 30px;
  column-gap: 60px;
}

.content-wrapper {
  background-color: white;
}

.content-box {
  width: 100%;
  height: 320px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content-preview-image-wrapper {
  width: 100%;
  aspect-ratio: 16 / 9;
  flex-shrink: 0;
  overflow: hidden;
  background: #000;
}

.content-preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-preview-diviewwrapper {
  display: flex;
  justify-content: start;
}

.content-preview-content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3px 10px 0px 10px;
  flex-direction: column;
}

.content-title {
  color: black;
  font-size: 14px;
  margin-bottom: 4px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content-desc {
  color: black;
  font-size: 12px;
  font-family: "Pretendard";
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content-footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content-footer-wrapper {
  display: flex;
  flex-direction: column;
}

.content-footer-content {
  color: black;
  font-size: 8px;
}
.content-footer-bottomline {
  width: 100%;
  background-color: black;
  height: 2px;
  margin-bottom: 8px;
  margin-top: 2px;
}

.footer-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.footer-line {
  background-color: white;
  height: 2px;
  width: 100%;
}

.footer-title {
  margin: 20px 0px 2px 0px;
  color: white;
  font-size: 26px;
}

.footer-desc {
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: 8px;
  color: white;
  font-size: 12px;
  line-height: 1.5;
}

.footer-space {
  height: 40px;
}

.LoginPageWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.login-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.login-form-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.login-page {
  background-color: white;
  width: 600px;
  height: 420px;
  border-radius: 20px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.id-blank-wrapper {
  width: 100%;
  height: 116px;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.password-blank-wrapper {
  width: 100%;
  height: 116px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.login-label {
  color: black;
  font-size: 36px;
  margin-bottom: 30px;
}
input {
  background-color: white;
  border: none;
  border-bottom: 2px solid black;
  border-top: 0px;
  border-radius: 0px;
  font-weight: bold;
  outline: 0;
  padding-left: 0px;
  color: black;
  width: 100%;
  font-size: 26px;
}
.login-footer-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.no-account-text {
  color: black;
  font-size: 20px;
}
.no-account-underline {
  width: 100%;
  height: 1.5px;
  background-color: black;
}
.login-button-on-loginpage {
  width: 128px;
  height: 50px;
  background-color: white;
  color: black;
  border-radius: 20px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.no-account-wrapper {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.no-account-wrapper:hover {
  color: #4f76da;
}

.no-account-wrapper a,
.no-account-wrapper Link,
.no-account-wrapper {
  text-decoration: none !important;
}

/* 밑줄도 색 바꾸고 싶으면 */
.no-account-underline {
  width: 100%;
  height: 2px;
  background-color: black;
}

.no-account-wrapper:hover .no-account-underline {
  background-color: #4f76da;
}

.register-page-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-page {
  width: 60%;
  height: 86%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;
}
.register-page-innerwrapper {
  width: 86%;
  height: 80%;
}
.register-title {
  font-size: 36px;
  margin-bottom: 30px;
}
.register-label {
  font-size: 26px;
  white-space: nowrap;
}
.register-name-wrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  margin-bottom: 40px;
}
.register-input {
  width: 300px;
}
.register-mail-wrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  margin-bottom: 40px;
}
.register-mail-confirm-button {
  background-color: white;
  border-radius: 20px;
  border: 2px solid black;
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "YidStreet";
  font-size: 14px;
  font-weight: 700;
}
.register-phone-confirm-button {
  background-color: white;
  border-radius: 20px;
  border: 2px solid black;
  width: 136px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "YidStreet";
  font-size: 14px;
  font-weight: 700;
}
.register-password-wrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  margin-bottom: 40px;
}
.register-phone-wrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  margin-bottom: 40px;
}
.register-verify-wrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  margin-bottom: 30px;
}
.register-buttons-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.register-buttons-back {
  background-color: white;
  border-radius: 15px;
  border: 2px solid black;
  width: 102px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
}
.register-buttons-register {
  background-color: white;
  border-radius: 15px;
  border: 2px solid black;
  width: 127px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.ArticlePageWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.article-page-wrapper {
  width: 100%;
  background-color: white;
  margin-top: 20px;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 74px 70px 74px 70px;
}
.article-page-title {
  font-size: 64px;
  margin-bottom: 12px;
}

.article-page-desc-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 42px;
}

.article-page-desc-centerbar {
  font-family: "Pretendard";
  font-size: 22px;
  font-weight: 700;
}

.article-page-desc-lefttext {
  width: 400px;
  display: flex;
  justify-content: end;
  padding-right: 10px;
  font-family: "Pretendard";
  font-size: 22px;
  font-weight: 700;
}

.article-page-desc-righttext {
  width: 400px;
  justify-content: start;
  padding-left: 10px;
  font-family: "Pretendard";
  font-size: 22px;
  font-weight: 700;
}
.article-page-context {
  font-family: "Pretendard";
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 42px;
}
.article-page-menu-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.article-page-icon {
  margin-right: 6px;
  width: 36px;
  height: 36px;
}
.article-page-comment-number {
  font-size: 26px;
  margin-right: 10px;
}
.article-page-heart-number {
  font-size: 26px;
  margin-right: 0px;
}
.aritlce-page-comment-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
}
.article-page-comment-header {
  padding-bottom: 40px;
}
.article-page-comment-title {
  font-size: 50px;
}
.article-page-comment-title-underline {
  width: 100%;
  background-color: black;
  height: 2px;
}

.article-page-comment-content-wrapper {
  margin-bottom: 24px;
}
.article-page-comment-author {
  font-size: 30px;
}
.article-page-comment-content {
  font-size: 20px;
  font-weight: 600;
  font-family: "Pretendard";
}
.article-page-comment-empty {
  width: 100%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
.article-page-comment-add-wrapper {
  width: 100%;
  height: 210px;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid black;
  padding: 13px;
  margin-top: 20px 0px;
  display: flex;
  flex-direction: column;
}
.article-page-comment-context {
  display: flex;
  padding: 4px 0px 4px 0px;
  width: 100%;
  height: 100%;
}
.article-page-comment-context-input {
  border: none;
  outline: none;
  font-size: 14px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0px;
  width: 100%;
}
.article-page-comment-send-wrapper {
  width: 100%;
  display: flex;
  justify-content: end;
}
.article-page-comment-sendicon {
  width: 30px;
  height: 30px;
}
.AddpageWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.add-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.add-page {
  background-color: white;
  width: 80%;
  height: 80%;
  border-radius: 20px;
  margin-bottom: 60px;
}
.add-page-context {
  width: 100%;
  height: 100%;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  padding: 10px 15px;
  background-color: #4f76da;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
  width: 130px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-file-upload:hover {
  background-color: #242bf6;
}

.file-name {
  margin-left: 10px;
  font-style: italic;
}

.login-label-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.add-page-icon-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
